doctype html
html(
	lang = lang
	class = htmlClass
	data-localization-path = staticUrl('localization.json')
)
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset=charset)
		title= local.pageTitle
		link(href=staticUrl("build.css") rel="stylesheet" type="text/css")
		script(src=staticUrl("build.js"))
	body
		.top-part
			header.navbar.navbar-static-top
				.container
					.navbar-header
						.navbar-brand= local.pageTitle
					nav.collapse.navbar-collapse
						ul.nav.navbar-nav
							mixin mainMenuItem(item)
								a(href=item.href)
									if item.icon
										span(class="glyphicon glyphicon-" + item.icon)
										=' '
									span= item.title
							each item in menu.main
								if item.active
									li.active
										+mainMenuItem(item)
								else
									li
										+mainMenuItem(item)
			.head-block
				.container
					h1= local.pageTitle
			main
				.container
					block page-block
		footer
			.container
				p #{local.author.title}: #{local.author.value}
				p #{local.license.title}: #{local.license.value}
		include modals
